# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/statistic-analytic/node_modules
/statistic-analytic/.pnp
/statistic-analytic/.pnp.js

# testing
/statistic-analytic/coverage

# production
/statistic-analytic/build

# misc
/statistic-analytic/.DS_Store
/statistic-analytic/.env.local
/statistic-analytic/.env.development.local
/statistic-analytic/.env.test.local
/statistic-analytic/.env.production.local


.env

/statistic-analytic/npm-debug.log*
/statistic-analytic/yarn-debug.log*
/statistic-analytic/yarn-error.log*

npm-debug.log*
yarn-debug.log*
yarn-error.log*



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/web-framework/node_modules
/web-framework/.pnp
/web-framework/.pnp.js

# testing
/web-framework/coverage

# production
/web-framework/build

# misc
/web-framework/.DS_Store
/web-framework/.env.local
/web-framework/.env.development.local
/web-framework/.env.test.local
/web-framework/.env.production.local



/web-framework/npm-debug.log*
/web-framework/yarn-debug.log*
/web-framework/yarn-error.log*

